<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% include "start/jquery-easyui.html" %}
    <style type="text/css">
        body {
            padding-left: 15px;
            font-size: 12px;
        }

        input, select {
            width: 160px;
        }

        .middle {
            margin: 0 0 auto;
        }

        .up {
            padding-top: 10px;
            margin: 0 auto;
        }

        ul {
            clear: both;
            width: 900px;
        }

        li {
            float: left;
            list-style: none;
            padding-left: 15px;
            list-style: none;
            padding-bottom: 15px;
        }
    </style>

</head>
<body>
<div class="div-page">
    <div style="height: 2px;min-width: 1100px;width: 98%;"></div>
    <div class="up easyui-panel" title="资产查询" style="clear:both;min-width: 1100px;width: 98%;"
         data-options="collapsible:true">
        <div style="float: left; ">
            <ul>
                <li>资产编号：<input class="easyui-textbox easyui-validate" type="text" name="id" id="id"
                                data-options="validType:['maxLength[20]']"></li>
                <li>名称：<input class="easyui-textbox easyui-validate" type="text" name="name" id="name"
                              data-options="validType:['maxLength[10]']"></li>
                <li>型号：<input class="easyui-textbox easyui-validate" type="text" name="model" id="model"
                              data-options="validType:['maxLength[20]']"></li>
                <li>领用人：<input class="easyui-textbox easyui-validate" type="text" name="acceptUser" id="acceptUser"
                               data-options="validType:['maxLength[6]','CHS']"></li>
            </ul>
            <ul>
                <li>资产状态：<select class="easyui-combobox" name="status" id="status"
                                 data-options="panelHeight:'auto',editable:false">
                    <option value="-1">---全部(除报废)---</option>
                    <option value="0">闲置</option>
                    <option value="1">使用中</option>
                    <option value="2">报废</option>
                </select>
                </li>
                <li>品牌：<input class="easyui-textbox easyui-validate" type="text" name="brand" id="brand"
                              data-options="validType:['maxLength[10]']"></li>
                <li>日期：<input class="easyui-datebox" data-options="prompt:'录入日期',editable:false" type="text"
                              name="acceptdate" id="acceptdate" maxlength="20"></li>
                <li>使用人：<input class="easyui-textbox easyui-validate" type="text" name="user" id="user"
                               data-options="validType:['maxLength[6]','CHS']"></li>
            </ul>

        </div>
        <div style="float:left;padding-top: 30px; width: 90px ">
            <li><a href="javascript:void(0)" id="query" value="查询" class="easyui-linkbutton"
                   style="width: 80px;height:30px">查询</a></li>
        </div>
        <div>
            <ul>
                <li><a id="morebtn" class="easyui-linkbutton" style="width: 80px">详细信息</a></li>
                <li><a id="changebtn" class="easyui-linkbutton" style="width: 80px;">变更记录</a></li>
                <li><a id="exportbtn" class="easyui-linkbutton" style="width: 80px"
                       href="/assets/export_to_xlsx/">全部导出</a></li>
                <li><a id="reportbtn" class="easyui-linkbutton" style="width: 80px" href="/assets/export_to_stock/">导出盘点表</a>
                </li>
                <li><a id="maintainbtn" class="easyui-linkbutton" style="width: 80px;">信息维护</a></li>
                <li><a id="importbtn" class="easyui-linkbutton" style="width: 80px;">导入数据</a></li>
                <li><a href="#" target="_blank">下载导入模板</a></li>
            </ul>
        </div>
    </div>
    <div class="middle" style="clear: both;min-width: 1100px;width: 98%;margin-top: 1px">
        <table id="dg" class="easyui-datagrid" style="width:100%">
        </table>
    </div>
</div>
<div id="dlg" class="easyui-dialog" data-options="closed:true"
     style="width:650px;height:420px;overflow: auto;padding: 15px">
    <div id="showhtml" style="margin: 0 auto;"></div>
    <div style="padding-top: 20px;text-align: center">
        <a href="javascript:void(0)" style="width: 80px" class="easyui-linkbutton" onclick="$('#dlg').dialog('close')">关闭</a>
    </div>
</div>
<div id="dlg2" class="easyui-window" data-options="closed:true,collapsible:false,minimizable:false"
     style="width:800px;height:400px;padding: 1px">
    <div id="cdg"></div>
    <div style="padding-top: 10px;text-align: center">
        <a href="javascript:void(0)" style="width: 80px" class="easyui-linkbutton" onclick="$('#dlg2').window('close')">关闭</a>
    </div>
</div>
<div id="import_excel" class="easyui-dialog" data-options="closed:true" title="选择导入数据" style="width: 450px;">
    <form id="import_form" class="easyui-form" method="post"  style="text-align: right;padding-right: 30px;">
        {% csrf_token %}
        <div id="content">
            <div style="margin-bottom:20px;margin-top: 20px">
                请选择要导入的excel：<input class="easyui-filebox" id="xls" name="xls" style="width:260px;">
            </div>
            <div style="margin-bottom:20px;text-align: center" >
                <a id="submit_import" class="easyui-linkbutton" style="width: 80px;">导 入</a>
            </div>
        </div>
        <div id="content2" style="display: none;">
            <div style="margin-bottom:20px;text-align: center;line-height: 112px;" >
                <label id="showinfo"></label>

            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        valid_max_length('id', 15);
        valid_max_length('name', 15);
        valid_max_length('model', 15);
        valid_max_length('acceptUser', 8);
        valid_max_length('user', 8);
        valid_max_length('brand', 8);

    })
    //// 单击详情
    $("#morebtn").click(function () {
        if (get_checkedID()) {
            ajax_showDetail(get_checkedID());
            $('#dlg').dialog('open');
        }
    })

    //// 单击变更记录
    $("#changebtn").click(function () {
        if (get_checkedID()) {
            ajax_showChangeDetail(get_checkedID());
            $('#dlg2').window('open');
        }
    })

    //// 单击导入
    $("#importbtn").click(function () {
        $('#import_excel').dialog('open');
    })

    $('#submit_import').click(function(){
        $('#content').css('display','none');
        $('#content2').css('display','block');
{#        $('#showinfo').text("正在导入数据......");#}
        $.ajax({
            url:'',
            success:function(data){
                $('#showinfo').text("");
                $('#showinfo').text("成功导入10条数据，5条数据系统中已存在");
                sleep(1000);
                $('#content').css('display','block');
                $('#content2').css('display','none');
                $('#import_form').form('clear');
{#                $('#import_excel').dialog('close');#}

            },
            error:function(){
                alert('error');
            }
        })
    })

function sleep(msec) {
    msec += new Date().getTime();
    while(new Date() < msec){}
}
</script>
</body>
</html>