<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% include "start/jquery-easyui.html" %}
    <style type="text/css">
        body {
            padding-left: 15px;
            font-size: 12px;
        }

        input[type="text"] {
            width: 120px;
        }

        .middle {
            margin: 0 0 auto;
        }

        .up {
            padding-top: 10px;
            margin: 0 auto;
        }

        .div-page ul {
            clear: both;
            width: 800px;
        }

        .div-page li {
            float: left;
            list-style: none;
            padding-left: 15px;
            list-style: none;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>

<div class="div-page">
    <div style="height: 5px;min-width: 1000px;width: 98%;"></div>
    <div class="up easyui-panel" title="资产查询" style="min-width: 1000px;width:98%;" data-options="collapsible:true">
        <div style="float: left">
            <ul>
                <li>资产编号：<input class="easyui-textbox " type="text" name="id" id="id"></li>
                <li>名称：<input class="easyui-textbox" type="text" name="name" id="name" maxlength="20"></li>
                <li>型号：<input class="easyui-textbox" type="text" name="model" id="model" maxlength="20"></li>
                <li><input type="button" name="查询" id="ok" value="查询" width="100px" class="easyui-linkbutton"
                           style="width: 80px;height: 25px"></li>
            </ul>
            <ul>
                <li><a id="ly" class="easyui-linkbutton" style="cursor:pointer;width: 80px">领用</a></li>
            </ul>
        </div>
    </div>
    <div class="middle" style="clear:both;min-width: 1000px;width: 98%;margin-top: 1px">
        <table id="dg" class="easyui-datagrid" style="padding: 10px;min-width: 1000px;width: 100%;height: 400px">
        </table>
    </div>

</div>
<div id="lybtn" class="easyui-dialog" title="领用" data-options="closed:true"
     style="width:100%;max-width:400px;padding:30px 60px;">
    <div>
        <form id="ff" class="easyui-form" method="POST" style="text-align: right;padding-right: 30px;">{% csrf_token %}
            <div style="margin-bottom:20px;">
                资产编号：<input class="easyui-textbox" name="id" id="fid" data-options="readonly:true" maxlength="20">
            </div>
            <div style="margin-bottom:20px;">
                领用部门：<input id="dept" name="dept" style="width:150px;">
            </div>
            <div style="margin-bottom:20px">
                领用人：<input class="easyui-textbox " name="acceptuser" id="facceptuser" data-options="required:true"
                           maxlength="12">
            </div>
            <div style="margin-bottom:20px">
                使用人：<input class="easyui-textbox" name="user" id="fuser" data-options="required:true" maxlength="12">
            </div>
            <div style="margin-bottom:20px">
                领用日期：<input class="easyui-datebox" name="date" data-options="required:true,editable:false">
            </div>
            <div style="margin-bottom:20px">
                存放位置：<input class="easyui-textbox" name="location" id="flocation" maxlength="40">
            </div>
            <div style="margin-bottom:20px">
                领用事由：<input class="easyui-textbox" name="reason" id="freason" maxlength="80">
            </div>
            <div style="margin-bottom:20px">
                备注：<input class="easyui-textbox" name="comment" id="fcomment" maxlength="80">
            </div>
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeForm()" style="width:80px">关闭</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#ok").click(function () {
            load_ajax();
        });
        load_ajax();
        $("#ly").click(function () {
            if (get_checkedID()) {
                $("#fid").textbox('setValue', get_checkedID);
                load_dept();

                $('#lybtn').dialog('open');
            }
        });
        valid_max_length('id', 15);
        valid_max_length('name', 15);
        valid_max_length('model', 15);
        valid_max_length('facceptuser', 8);
        valid_max_length('fuser', 8);
        valid_max_length('flocation', 30);
        valid_max_length('freason', 50);
        valid_max_length('fcomment', 30);
    });

    function load_ajax() {
        var str = {
            id: $("#id").val(),
            name: $("#name").val(),
            model: $("#model").val(),
            flag: 0,
        }
        $.ajax({
            type: "get",
            url: "/assets/receive/ajax/",
            data: str,
            success: function (data) {
                $('#dg').datagrid('loadData', data);
                if (data.total == '0') {
                    $.messager.alert('提示', '没有检索到您要的数据！', 'info');
                }
            },
            error: function () {
                $.messager.alert('error', '加载错误，请重新尝试！', 'warning');
            }
        });
    }

    function load_dept() {
        $('#dept').combotree({
            method: 'get',
            url: '/assets/mod/dept/',
            required: true
        });
    }

    // 提交数据
    function submitForm() {
        $('#ff').form('submit', {
            url: "/assets/receive/post/",
            onSubmit: function () {
                return $(this).form('enableValidation').form('validate');
            },
            success: function (data) {
                $.messager.alert("提示", data, "info");
                closeForm()
                load_ajax();
            },
        });
    }

    function closeForm() {
        $('#ff').form('clear');
        $('#lybtn').dialog('close');
    }


</script>
</body>
</html>